/*********************************************

This is the style file for this project.

**********************************************/
body {
  width: 100%;
  height: 600px;
}
#collage {
  width: 80vw;
  height:70vh;
  margin: 0 auto;
  border: 1px solid black;
  /* background-color: turquoise; */
}

#collage img {
  width: 100px;
  height: auto;
  position: absolute;
  display: inline-block;
}

.active {
  border: 3px solid turquoise;
}

#poem {
  width: 80vw;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}
