/*********************************************

This is the style file for this project.

**********************************************/
@font-face {
  font-family: typewriter;
  src: url(../assets/fonts/TravelingTypewriter.otf);
}

body {
  width: 100%;
  height: 600px;
  background-image: url(../assets/bg/damasque.jpg);
}

#instructionsHeader {
  width: 80vw;
  display: block;
  margin: 0 auto;
  font-family: typewriter;
  font-size: 1em;
  margin-bottom: 15px;
}

#instructionsHeader p {
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 15px;
}

#instructionsHeader p img {
  width: 60px;
  margin-bottom: -15px;
  padding-bottom: 0;
}

.bold {
  color: #b30000;
  font-size: 1.1em;
}

#collage {
  position: relative;
  width: 80vw;
  height:70vh;
  margin: 0 auto;
  border: 10px solid #b30000;
  background-image: url("../assets/bg/14519.jpg");
}

#collage img {
  width: 100px;
  height: auto;
  position: absolute;
  display: inline-block;
  padding:0;
}

.active {
  border: 1px solid black;
}

#bin {
  width: 100px;
  height: 150px;
  position: absolute;
  bottom: -180px;
  left: -10px;
  background-image: url(../assets/bg/bin.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#poem {
  width: 80vw;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

#output {
  max-width: 400px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

p {
  font-family: typewriter;
  margin-top: 10px;
  margin-bottom: 0;
}

button{
  color: red;
  font-family: typewriter;
  font-size: 1.2em;
  margin: 10px;
  padding: 0 15px;
  border-radius: 3px;
  background-color: black;
  border: none;
  outline: 0;
}

button:hover {
  color: white;
  box-shadow: 0 0 15px black;
}
