/*********************************************

This is the style file for this project.

**********************************************/
p {
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 1em;
  font-weight: bold;
  font-family: Helvetica;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
}
