/*********************************************

This is the style file for this project.

**********************************************/
body {
  width: 100%;
  height: 600px;
}
#collage {
  width: 95%;
  height:1000px;
  margin: 0 auto;
  border: 1px solid black;
  /* background-color: turquoise; */
}

#collage img {
  width: 100px;
  height: auto;
  position: absolute;
  display: inline-block;
}

.active {
  border: 3px solid turquoise;
}
