/*********************************************

This is the style file for this project.

**********************************************/
#container {
  width: 90%;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
/* -- Stats bar styling --*/
#statsBar {
  font-size: 1.5em;
  font-family: Courier, monospace;
  color: gray;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #000000;
  text-align: center;
  position: relative;
  height: 30px;
}

#stats {
  position: absolute;
  right: 15px;
}

/* ---- defining properties for all folders (.folders class) ---- */
.folder {
  width: 14%;
  padding: 2%;
  margin: .5%;
  border-radius: 10%;
}

/* ---- defining background colour for each folder div ---- */
#folder1 {
  background-color: #ff33cc;
}

#folder2 {
  background-color: #66ff33;
}

#folder3 {
  background-color: #33ccff;
}

#folder4 {
  background-color: #cc00ff;
}

#folder5 {
  background-color: #669999;
}

/* ----styling of document elements ---- */
.doc {
  width: 15%;
  position: absolute;
}

/* ---- styling of the bus ---- */
#bus {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
}

#progressbar {
  display: block;
  position: relative;
  width: 35%;
  height: 30px;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 30px auto;
  text-align: center;
  font-family: Courier, monospace;
  font-size: 1.5em;
}

.progress-label {
  position: absolute;
  display: block;
  width: 20%;
  left: 40%;
  top: 2px;
  text-align:
}

#button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  font-family: Courier, monospace;
  width: 35%;
  padding:5px;
  font-size: 1.2em;
}

#rock {
  display: block;
  width: 70%;
  position: absolute;
  top: -100%;
  left: 15%;
}

#docs {
position: relative;
margin-top: 50px;
min-height: 400px;
}
