/*********************************************

This is the style file for this project.

**********************************************/
/* -- Stat bar styling --*/
#stats {
  font-size: 1.5em;
  font-family: Courier, Arial, sans-serif;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #d4d4d4;
  text-align: right;
}
/* ---- defining properties for all folders (.folders class) ---- */
.folder {
  width: 14%;
  padding: 2%;
  margin: .5%;
  border-radius: 10%;
}

/* ---- defining background colour for each folder div ---- */
#folder1 {
  background-color: #ff33cc;
}

#folder2 {
  background-color: #66ff33;
}

#folder3 {
  background-color: #33ccff;
}

#folder4 {
  background-color: #cc00ff;
}

#folder5 {
  background-color: #669999;
}

/* ----styling of document elements ---- */
.doc {
  width: 15%;
}

.ui-progressbar {
  background-color: red;
}
