/*********************************************

This is the style file for this project.

**********************************************/
body {
  font-family: Courier, monospace;
  width: 800px;
  margin-left: 100px;
  margin-top: 100px;
  line-height: 1.5em;
}

div {
  margin-top: 1.5em;
}

#score {
  font-size: 1.5em;
  font-weight: bold;
}

.redacted {
  background-color: black;
  color: transparent;
}

.revealed {
  background-color: transparent;
  color: red;
}

.found {
  color: blue;
  font-weight: bold;
}
